DEVICE={{ansible_default_ipv4.interface}}
BOOTPROTO=static
IPADDR={{ansible_default_ipv4.address}}
NETMASK={{ansible_default_ipv4.netmask}}
BROADCAST={{ansible_default_ipv4.broadcast}}
ONBOOT=yes
NM_MANAGED=no
